@font-face{
    font-family:'HCo Champion Middlewt';
    font-display:swap;
    src:url(https://media.newjobs.com/homepage/fonts/Champion-Middleweight_Web.woff2) format('woff2'), url(https://media.newjobs.com/homepage/fonts/Champion-Middleweight_Web.woff) format('woff');
}